PORT=8000
FRONTEND_PORT=5173
PGADMIN_PORT=5050
POSTGRES_HOST=localhost
POSTGRES_PORT=5433
POSTGRES_DB=
POSTGRES_USER=
POSTGRES_PASSWORD=
PGADMIN_DEFAULT_EMAIL=
PGADMIN_DEFAULT_PASSWORD=
DATABASE_URL=postgresql://<user>:<password>@localhost:5433/<db>
VITE_API_URL=http://localhost:8000/api
